@if (profile) {
  <div class="profile-card">
    <!-- Avatar and name -->
    <div class="avatar-name">
      <!-- Avatar img -->
      <img
        [src]="profile.avatarUrl | imgUrl"
        [alt]="profile.lastName"
        class="profile-card__avatar">
      <!-- Name and nickname -->
      <div class="profile-card__name">
        <strong class="h6">{{ profile.firstName }} {{ profile.lastName }}</strong>
        <span class="subtitle">{{ profile.username }}</span>
      </div>
    </div>
    <!-- Description -->
    <div class="profile-card__description">
       {{ profile.description }}
    </div>
    <!-- Skill tags -->
    <div class="profile-card__tags">
      @for (skill of profile.stack; track skill){
        <div class="skill-tag">{{ skill }}</div>
      }
    </div>
    <!-- Action Buttons -->
    <div class="profile-card__action-buttons">
      <button class="btn">Подписаться</button>
    </div>
  </div>
} @else {
  <div class="not-found">
    Sorry, there is no data =(
  </div>
}
