<div class="profile-card">
  <!-- Avatar and name -->
  <div class="avatar-name">
    <!-- Avatar img -->
    <img src="/assets/img/ryan.png" alt="avatar" class="profile-card__avatar">
    <!-- Name and nickname -->
    <div class="profile-card__name">
      <strong>Райан Гослинг</strong>
      <span>ryan.gosling</span>
    </div>
  </div>
  <!-- Description -->
  <div class="profile-card__description">
    Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>
  <!-- Skill tags -->
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">REST</div>
  </div>
  <!-- Action Buttons -->
  <div class="profile-card__action-buttons">
    <button class="btn">Подписаться</button>
  </div>
</div>
